*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1120px;
    margin:  0 auto;

 
}

header{
    background:#000;
    height: 72px;
}

.logo{
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 36px;
    
}


.logo span:first-child{
   font-weight: 800;
    color: #ffffff;
    
}

.logo span:last-child {
    font-weight: 400;
    color:#ff8b38;
}

.block{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.block nav{
    display: flex;
     position: relative;
     right: 10px;
}

.block nav li {
    display: inline;
}

.block a {
    text-decoration: none;
    color:#b0b0b0;
    font-size: 14px;
    padding-left: 45px;
    font-weight: 600;
    font-family: "Raleway";
}

.block-2{
    background-color: #9a9a9a;
    height: 642px;
}